.filter {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--action-color);
  width: 100%;
}

.filter h2 {
  margin-bottom: 0.5rem;
  cursor: default;
}

.filter ul {
  font-size: 1.2rem;
  padding-block: 1.5rem;
}

.filter li {
  list-style: none;
  padding-block: 0.4rem;
}

@media (min-width: 768px) {
  .wrapper:has(.filter) {
    flex-direction: row;
    }

  .filter {
    flex-basis: calc(28%);
    border-right: 1px solid var(--action-color);
    width: unset;
    border-bottom: unset;
    padding-bottom: unset;
  }

  .filter ul {
    padding-block: unset;
  }
}