#header {
  position: relative;
  width: 100%;
  padding: 3vh 5vw 0vh 5vw;
  display: flex;
  align-items: center;
  place-content: space-between;
  margin-bottom: 2rem;
}

main {
  padding: 3vh 5vw 0vh 5vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

main .poster {
  /* learn more about flex-basis */
  flex-basis: calc(30% - 20px);
}

main .poster img {
  min-width: 220px;
  max-width: 100%;
  max-height: 100%;
  border: 1px solid rgb(54, 54, 54);
}

article {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

article .heading {
  display: grid;
  grid-template-columns: 2fr 1fr;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
}

article .buttons button {
  cursor: pointer;
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-weight: 800;
  border: 0;
  border-radius: 3px;
  color:rgb(29, 29, 29)
}

article .buttons button:nth-child(1) {
  margin-right: 0.5rem;
}

article .buttons button:hover, #header .right-navbar i:hover {
  opacity: 0.9;
}

article .buttons #watch-trailer {
  background-color: rgb(151, 22, 22);
  color: #fff;
}

article .buttons #watch-trailer::before {
  font: var(--fa-font-solid);
  content: "\f04b";
  padding-right: 0.5rem;
}

article .buttons #add-to-list::before {
  font: var(--fa-font-solid);
  content: "\2b";
  padding-right: 0.5rem;
}

article .heading .ratings span {
  display: block;
}

article p {
  width: 80%;
}