#header {
  position: absolute;
  width: 100%;
  padding: 3vh 5vw 0vh 5vw;
  display: flex;
  align-items: center;
  place-content: space-between;
}

/* Hero-section */

#hero-section {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2vh 5vw 2vh 5vw;
  display: grid;
  grid-template-rows: auto;
  row-gap: 1rem;
  height: 60vh;
  place-content: center start;

  color: rgb(250, 250, 250);
  background-color: rgba(0,0,0,0.6);
  background-blend-mode: multiply;

  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

#hero-section p {
  width: 45%;
  text-align: justify;
}

#hero-section button {
  cursor: pointer;
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-weight: 800;
  border: 0;
  border-radius: 3px;
  color:rgb(29, 29, 29)
}

#hero-section button:nth-child(1) {
  margin-right: 0.5rem;
}

#hero-section button:hover, #header .right-navbar i:hover {
  opacity: 0.9;
}

#hero-section #watch-trailer {
  background-color: rgb(151, 22, 22);
  color: #fff;
}

#hero-section #watch-trailer::before {
  font: var(--fa-font-solid);
  content: "\f04b";
  padding-right: 0.5rem;
}

#hero-section #add-to-list::before {
  font: var(--fa-font-solid);
  content: "\2b";
  padding-right: 0.5rem;
}

/* slider */

.trending-now-container {
  position: relative;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 6vh;
}

.trending-now-container h3 {
  color:rgb(201, 201, 201);
  cursor: default;
}

.trending-now-container h3::after {
  font: var(--fa-font-solid);
  content: "\f061";
  padding-left: 0.7rem;
}

/* 
.trending-now-container .arrow {
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0, 50%);
  color: rgba(158, 158, 158, 0.8);
  transition: color ease-out 1s;
}

.trending-now-container .fa-chevron-right {
  right: 2vw;
}

.trending-now-container .fa-chevron-left {
  left: 2vw;
}

.trending-now-container .arrow:hover {
  color: rgba(158, 158, 158, 0.6);
  transition: color ease-in 1s;
} 
*/

.trending-now-container .slider {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: 0;
  column-gap: 0.7rem;
  padding-top: 1rem;
  overflow: hidden;
}

@media (min-width: 855px) {
  .trending-now-container .slider {
    grid-template-columns: repeat(7, 1fr);
  }
}

.trending-now-container .slider div {
  cursor: pointer;
  color: rgb(236, 236, 236);
  background-color: rgb(160, 160, 160);
  background-blend-mode: multiply;
  transition: ease-out 0.3s;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 30vh;
  /* width: 12vw; */

  position: relative;
  display: flex;
  align-items: end;
}

.trending-now-container .slider div:hover {
  background-color: unset;
  transition: ease-in 0.3s;
}

.trending-now-container .slider div h4 {
  display: block;
  width: 100%;
  position: absolute;
  padding: 0.5rem;
  font-size: 0.9rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  background-color: rgba(0, 0, 0, 0.7)
}