#header {
  padding-inline: 5vw;
  padding-block: 3vh;
  display: flex;
  align-items: center;
  place-content: space-between;
  box-shadow: 0 0px 4px 0 rgb(37, 37, 37);
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-inline: 5vw;
  padding-block: 6vh;
  gap: 2.5rem;
  background-color:rgb(29, 29, 29);
}

.wrapper aside h2 {
  margin-bottom: 0.5rem;
  cursor: default;
}

.heading .title {
  padding-right: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.wrapper aside {
  padding-bottom: 1rem;
  border-bottom: 1px solid red;
  width: 100%;
  justify-content: center;
}

.wrapper aside ul {
  font-size: 1.2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  place-content: space-between;
}

.wrapper aside li {
  list-style: none;
  display: inline;
  padding-inline: 1rem;
  padding-block: 0.4rem;
  background-color: rgb(27, 27, 27);
  border: 2px solid rgb(36, 36, 36);
  border-radius: 5px;
}

.entry {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgb(36, 36, 36);
  place-content: space-between;
}

.entry .details > * {
  padding-bottom: 0.2rem;
}

.entry em {
  font-style: normal;
  color: grey;
}

.entry .actions {
  padding-top: 2rem;
  padding-inline: 0.5rem;
  display: flex;
  gap: 3rem;
}

@media (min-width: 768px) {

  .wrapper {
    flex-direction: row;
    }

  .wrapper main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .wrapper aside {
    flex-basis: calc(20%);
    border-right: 1px solid red;
    width: unset;
    justify-content: unset;
    border-bottom: unset;
    padding-bottom: unset;
  }

  .wrapper aside ul {
    font-size: unset;
    padding-top: unset;
    padding-bottom: unset;
    display: unset;
    place-content: unset;
  }

  .wrapper aside ul li {
    display: block;
    padding-inline: unset;
    background-color: unset;
    border: unset;
    border-radius: unset;
  }

  .entry {
    flex-direction: row;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .entry .actions {
    padding-top: unset;
    align-self: center;
    gap: 2rem;
  }

}