@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background-color:rgb(16, 16, 16);
}

.header-transparent {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(0,0,0,0.6);
  background-blend-mode: multiply;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-inline: 5vw;
  padding-bottom: 15vh;
}

.header-box {
  padding-inline: 5vw;
  padding-block: 3vh;
  display: flex;
  align-items: center;
  place-content: space-between;
  box-shadow: 0 0px 4px 0 rgb(37, 37, 37);
  background-color:rgb(16, 16, 16);
}

.wrapper {
  flex-grow: 1;
}

[data-link-forward|="true"], aside ul li, i {
  cursor: pointer;
}

.notification-bar {
  position: fixed;
  display: flex;
  align-items: center;
  place-content: space-between;
  z-index: 1;
  height: 6vh;
  width: 100%;
  background-color: rgb(22, 48, 28);
  padding-inline: 5vw;
  color: white;
  top: -6vh;
  /* left: 0; */
}

.notification-bar-visible {
  animation: movein 0.5s ease forwards, moveout 0.5s ease 3s forwards;
}

@keyframes movein {
  from { top: -6vh; }
  to   { top: 0; }
}

@keyframes moveout {
  from { top: 0; }
  to   { top: -6vh; }
}

.logo a {
  text-decoration: none;
  font-size: 2rem;
  background: url(../resources/logo.png) no-repeat 0 0;
  background-size: contain;
  color:rgba(0,0,0,0)
  }

.right-navbar > * {
  display: inline;
  color: white;
  padding: 0.5rem;
}

.wrapper .hidden, .hidden {
  display: none;
}

hr {
  color: rgb(36, 36, 36);
}

/* Buttons */

button {
  cursor: pointer;
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-weight: 800;
  border: 0;
  border-radius: 3px;
  color:rgb(29, 29, 29)
}

button:nth-child(1) {
  margin-right: 0.5rem;
}

button:hover, i:hover, li:hover {
  opacity: 0.9;
}

button#watch-trailer {
  background-color: rgb(151, 22, 22);
  color: rgb(250, 250, 250);
}

button#watch-trailer::before {
  font: var(--fa-font-solid);
  content: "\f04b";
  padding-right: 0.5rem;
}

button#add-to-list::before {
  font: var(--fa-font-solid);
  content: "\2b";
  padding-right: 0.5rem;
}

button#add-to-list:disabled {
  cursor: default;
  opacity: unset;
}

button#add-to-list:disabled::before {
  content: "\f00c";
  color: green;
}

@keyframes spin {
  100% {
      transform: rotate(360deg);
  }
}

/* Footer CSS */

footer {
  position: relative;
  padding: 3vh 5vw 3vh 5vw;
  box-shadow: 0 4px 0px 0 rgb(37, 37, 37);
  background-color:rgb(16, 16, 16);
  height: max-content;

  display: flex;
  flex-direction: column;
}

footer .main {
  display: flex;
  flex-direction: column;
}

footer .main img {
  display: none;
}

.footer-menu {
  display: flex;
  flex-direction: column;
}

.footer-menu summary {
  font-size: 1rem;
  font-weight: 800;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.footer-menu li {
  cursor: pointer;
  list-style: none;
  padding-bottom: 0.5rem;
}

.footer-menu li a {
  text-decoration: none;
}

.footer-menu li:hover {
  opacity: 0.9;
}

footer #footer-copyright {
  display: block;
  color: darkgrey;
  cursor: default;
  font-size: 0.8rem;
  padding-top: 1rem;
}

@media (min-width: 768px) {
  footer .main {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  footer .main img {
    display: unset;
      cursor: pointer;
      width: 20vh;
    }

  .footer-menu {
    display: flex;
    flex-direction: row;
    width: 40vw;
    justify-content: space-between;
  }

  .footer-menu summary::marker {
    content: "";
  }

  footer #footer-copyright {
    padding-top: unset;
  }
}

/* Modal: trailer */

.overflow-hidden {
  overflow: hidden;
}

.modalView {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.searchModal {
  animation: opacity .5s ease;
}

@keyframes opacity {
  from { opacity: 0; }
  to   { opacity: 1; }
}


.modalView .embedded-video {
  border: 1px solid #888;
  width: 100%;
  height: 50%;
  margin: 20%;
}

.modalView input, .modalView #submitSearch {
  font-size: 1rem;
  color: rgb(29, 29, 29);
  padding: 0.9rem;
  margin-inline: 0.5rem;
}

.modalView input {
  min-width: 40%;
  border: 0;
  border-radius: 4px;
}

.modalView #submitSearch {
  font-weight: 500;
}

.modalView .close {
  position: absolute;
  color: #fff;
  top: 0;
  right: 0;
  padding: 2rem;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
  transform: rotate(0deg);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55); 
}

.modalView .close:hover {
  font-size: 3rem;
  transform: rotate(360deg);
}