@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

body {
  position: relative;
  background-color:rgb(29, 29, 29)
}

#header img {
  cursor: pointer;
  width: 15vh;
}

.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.right-navbar {
  color: white;
}

#header .right-navbar i {
  padding: 0.5rem;
  cursor: pointer;
}

@keyframes spin {
  100% {
      transform: rotate(360deg);
  }
}