@import "../global.css";

.subheading > span {
  display: block;
}

.subheading em {
  display: none;
}

.wrapper {
  background-color: var(--main-dark-color);
}

.wrapper .poster {
  padding: 1rem;
  padding-top: unset;
}

.wrapper .poster img {
  max-width: 100%;
  height: auto;
  border: 1px solid rgb(54, 54, 54);
}

main {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

main p {
  max-width: 50em;
}

main .ratings {
  cursor: default;
}

main .subheading {
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
  }

  .wrapper .poster {
    flex-basis: calc(30% - 20px);
    padding: unset;
  }

  .wrapper .poster img {
    min-width: 220px;
  }

  main .heading {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  main .subheading {
    margin-top: unset;
  }

  main .subheading > span {
    display: unset;
  }

  main .subheading em {
    display: unset;
    font-style: normal;
    color: gray;
  }
}